# General
node_modules/
.env
*.env
*.env.local
*.log
coverage/
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/
*.swp

# Frontend (packages/client) specific build artifacts if any
packages/client/build/
packages/client/.vite/ # If using Vite
packages/client/dist/  # If using Vite and building there

# Hardhat (packages/contracts) specific artifacts
packages/contracts/artifacts/
packages/contracts/cache/
packages/contracts/typechain-types/ # If you were using TS